@charset "utf-8";
/* CSS Document */

body {
  background-color: powderblue;
}
h1 {
  color: blue;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:24px;
}
p {
  color: red;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:14px;
  font-weight:300
}
h3 { 
color:#494949;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:30px;
}

h5 {
    font-family: fantasy;
    color: #000000;
    font-size: 46px;
    letter-spacing: 4px;
    line-height: 56px;
}

table {
	border:none;
	vertical-align:middle;
	text-align:center;
	alignment-adjust:central;
	align-content:center;	
	margin: 0px auto;
	}
	
td {
	vertical-align:middle;
	align-content:center;
	text-align:center;
}

h1 {
	text-align:center;
	}
	
	button {
		width: 200px;
		font-size: 20px;
		background: #000;
		color: #fff;
		height: 50px;
		margin: 20px auto;
	}

	input {
		width: 200px;
		font-size: 20px;
		height: 50px;
	}

h2{
	color:white;
	font-size:18px;
	font-weight:bold
	
	}
	
h4{
	color:white;
	font-size:12px;
	font-weight:300;
	
	}
image{
	align-self:center	
	
}
